extends layout

block scripts
  script(src='/javascripts/home.js')

block content
  h1= title
  p Welcome to #{title}
  p
  p
  p Enter a random word below
  form(action='/after-post', method='post')
    input(
      type='text'
      name='text_field'
      id='text_field'
    )
    input(
      type='submit'
      value='Post it to a server'
    )
block footer
  p This is home page footer