extends layout

block content
  h1= title
  p Welcome to #{title}
  p
  p
  p Enter a random word below
  input(
    type='text'
    id='submit_field'
  )
  form
    input(
      type='submit'
      value='Post it to server'
      id='post_button'
    )
  script(type='text/javascript' src='/javascripts/home.js')
  